body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

@media (max-width: 10000px){
    .box{
        /* background-color: red; */
        width: 100%;
        height: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-top: 20px;

    }

.typing-text{
    font-size: 34px;
    /* font-weight: 600;
    min-width: 280px; */
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Sopheaktra";
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    color: #ffffff;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    /* background-color: black; */
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #b74b4b;
    }
}

@keyframes words{
    0%, 20%{
        content: "SoPheakTra";
    }
    21%, 40%{
        content: "Video Editor";
    }
    41%, 60%{
        content: "Web Designer";
    }
    61%, 80%{
        content: "Youtuber";
    }
    81%, 100%{
        content: "SoPheakTra";
    }
}
.box-facebook{
    /* justify-content: center; */
    /* text-align: center; */
    align-items: center;
    margin: auto;
    width: 90%;
    height: 40px;
    background-color: black;
    display: flex;
    width: 320px;
    padding: 24px;
    border-radius: 16px;
    background: rgba(255,255,255,0.12); /* translucent color */
    border: 1px solid rgba(255,255,255,0.18);
    backdrop-filter: blur(10px) saturate(120%);
    -webkit-backdrop-filter: blur(10px) saturate(120%);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    color: #fff;
}
.box-facebook img{
    width: 50px;
}
.box-facebook H3{
    /* margin-bottom: 0px; */
    font-size: 25px;
    margin-left: 15px;
    font-family: GlobePersonal;
    color: black;
}
@font-face {
    font-family: Sterion;
    src: url(font/Sterion-BLLld.ttf);
}
@font-face {
    font-family: GlobePersonal;
    src: url(font/TheGlobePersonalUseBold-2ORlw.ttf);
}
.button{
    font-size: 10px;
    margin-left: 50px;
    width: 70px;
    height: 50px;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 17px;
    background: rgba(255,255,255,0.12);
    border: 1px solid rgba(255,255,255,0.18);
    backdrop-filter: blur(10px) saturate(120%);
    -webkit-backdrop-filter: blur(10px) saturate(120%);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    color: #fff;
    transition: 0.4s;
}
.button:hover{
    background: linear-gradient(90deg, #3a0ca3, #4361ee);
    transform: scale(1.05);
}

a{
    color: #fff;
    text-decoration: none;
}

}
